<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Game Board</mat-card-title>
    <mat-card-subtitle>Rock Paper Scissors</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    @if (!ended()) {
    <div class="grid grid-flow-col gap-3">
      @for (item of ["Rock", "Paper", "Scissors"]; track $index) {
      <mat-card
        [appearance]="isSelected($index + 1) ? 'raised' : 'outlined'"
        class="cursor-pointer"
        (click)="makeMove($index + 1)"
      >
        <mat-card-content>{{ item }}</mat-card-content>
      </mat-card>
      }
    </div>
    } @else {
    <p>{{ game() }}</p>
    <button mat-button routerLink="/">Home</button>
    }
  </mat-card-content>
</mat-card>
