<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Anonymous</mat-card-title>
    <mat-card-subtitle>
      <div class="grid grid-cols-2 place-content-between">
        <div>Wins: 0</div>
        <div>Looses: 0</div>
        <div>Games: 0</div>
        <div>WR%: 0</div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="grid grid-flow-col gap-3">
    <button mat-button>History</button>
    <div class="w-4"></div>
    <button mat-button color="warn">Change name</button>
  </mat-card-actions>
</mat-card>
