<div class="flex w-full h-full justify-center">
  <div class="flex flex-col items-center max-h-screen m-3">
    <app-user-card class="mt-1"></app-user-card>
    <div class="min-h-4"></div>
    @if (userService.loggedIn()) {
    <app-note-create class="w-full"></app-note-create>
    <div class="min-h-4"></div>
    <app-note-list class="w-full"></app-note-list>
    @if (userService.is_admin()) {
    <div class="min-h-4"></div>
    <app-all-note-list class="w-full"></app-all-note-list>
    } } @else {
    <app-loading-card class="w-full"></app-loading-card>
    }
  </div>
  <footer class="mat-label-small opacity-70 bottom-2 fixed">
    By Jakub Orchowski a.k.a. ThePhaseless with ❤️
  </footer>
</div>
