<mat-card class="max-h-screen overflow-y-auto" appearance="outlined">
  <mat-card-header>
    <div class="flex justify-between w-full">
      <div>
        <mat-card-title>All notes</mat-card-title>
        <mat-card-subtitle>Some may require password</mat-card-subtitle>
      </div>
      <mat-icon (click)="notesService.getNotes()">refresh</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      @for (note of notesService.notes(); track $index) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ note.name }}
          </mat-panel-title>
          <mat-panel-description>
            @if (note.is_encrypted) {
            <mat-icon fontIcon="lock" class="scale-50"></mat-icon>
            }
            {{ readableDate(note.created_at!) }}</mat-panel-description
          >
        </mat-expansion-panel-header>
        <app-note-tile [note]="note"></app-note-tile>
      </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-card-content>
</mat-card>
